<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="DataBase" value="DBDEPS1222" />
    <add key="UserID" value="AP$WEBDEP" />
    <add key="Password" value="hdfc2018" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
  <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
      </assemblies>
    </compilation>

    <httpRuntime  maxRequestLength="2097151" targetFramework="4.6.1" />
  </system.web>
  <!--
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
        
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  -->
  <system.serviceModel>
    <bindings>
      <!--ADDED BY SACHIN ON 20/09/2016 FOR FTP-->
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="secureHttpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="IN_eFDR.eFDR" behaviorConfiguration="IN_eFDR.Service1Behavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="IN_eFDR.IeFDR">
          <identity>
            <dns value="vhdfcws1.hdfc.com" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            
            <add baseAddress="https://lanws.hdfc.com/IN_eFDR/eFDR.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IN_eFDR.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="eFDR.svc" />
            </files>
        </defaultDocument>
  </system.webServer>

</configuration>
